body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0; }

h1 {
  color: #333;
  text-align: center; }

#feed-posts {
  max-width: 600px;
  margin: 20px auto;
  padding: 10px;
  background: white;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); }
  #feed-posts h4 {
    margin-bottom: 10px; }
  #feed-posts #new-post-form {
    display: flex;
    flex-direction: column; }
    #feed-posts #new-post-form textarea {
      padding: 10px;
      margin-bottom: 10px;
      border-radius: 5px;
      border: 1px solid #ddd;
      font-size: 14px; }
    #feed-posts #new-post-form input[type="submit"] {
      background-color: #007bff;
      color: white;
      border: none;
      padding: 10px;
      border-radius: 5px;
      cursor: pointer;
      font-size: 14px; }
      #feed-posts #new-post-form input[type="submit"]:hover {
        background-color: #0056b3; }
